<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
	</configSections>
	<couchbase>
		<servers bucket="ANALYTICS" bucketPassword="">
			<add uri="http://eswebvdv001:8091/pools/default" />
			<add uri="http://itwebvdv001:8091/pools/default" />
		</servers>
	</couchbase>
</configuration>